body{
    background-image:url(./photos/Frost.jpg) ;
}
h2{
  color: #ffffff;
  font-size: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -9px;
}
.b {
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 15px #fff;
  }
  
  .b:hover {
    box-shadow: 0 0 5px #1e9b1e, 0 0 25px #1e9b1e, 0 0 50px #1e9b1e, 0 0 100px #1e9b1e;
  }
  .b1 {
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 15px #fff;
  }
  
  .b1:hover {
    box-shadow: 0 0 5px red, 0 0 25px red, 0 0 50px red, 0 0 100px red;
  }
  .b2 {
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 15px #fff;
  }
  
  .b2:hover {
    box-shadow: 0 0 5px yellow, 0 0 25px yellow, 0 0 50px yellow, 0 0 100px yellow;
  }
  .b{
    margin-right: 50px;
  }
  .b1{
    margin-right: 50px;
  }

.chrono{
    color: #ffffff;
    font-size: 173px;
}
.timer{
    padding-left: 650px;
    padding-top: 100px;
}
.bu{
    padding-left: 72px;
    padding-top: 101px;
}


#arrow1{
  font-size:100px;
  background-color: #111;
}

#arrow2{
  font-size: 100px;
  margin-left: -605px;
  background-color: #111;
}
#arrow1:hover {
  box-shadow: 0 0 5px #1e9b1e, 0 0 25px #1e9b1e, 0 0 50px #1e9b1e, 0 0 100px #1e9b1e;
}

#arrow2:hover {
  box-shadow: 0 0 5px red, 0 0 25px red, 0 0 50px red, 0 0 100px red;
}